<div class="parent">
</div>
<div class="card" style="background-color:#f1f1f1;">
  <div class="card-body">
    <div class="row">
      <div class="col-md-8" style="padding-left:2%;padding-top:2%;padding-bottom:2%;">
        <img src="../assets/paper_img/location.png" width="90%" height="400px" alt="location">
      </div>
      <div class="col-md-4">
        <h3>Location</h3><br>
        <h5>No99/85, 2nd Street, Malabe, Sri Lanka.</h5> <br><br>
        <h5>Post free classifieds and online ads-on these 100 best of free classifieds sites, global free classified ads for
          online ad posting to promote a product, business, services, or website!</h5>
      </div>
    </div>
  </div>
</div>